@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Roboto:ital,wght@1,900&family=Rubik+Vinyl&display=swap');



.LandingCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the height of the div to full viewport height */
  width: 100%;

  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(170,175,164,1) 0%, rgba(211,218,204,1) 0%, rgba(242,241,217,1) 1%, rgba(0,0,0,1) 54%, rgba(0,0,0,1) 58%, rgba(0,0,0,1) 100%);

}

.division {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
 
}

.info {
  

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#FEE11A;


  text-align: center;
}


.info h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #FEE11A;
}

.info h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
  color: #fff;
  text-shadow: 1px 1px 1px black;
}

.linkin {
  width: 100px;
  height: 100px;
  margin-top: 1rem;
  cursor: pointer;
}

.division2 {
  display: flex;
  justify-content: center;
  display: flex;
}

.imgAsh {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  
}

.imgAsh img {
  width: 500px;
  height: 300px;
  object-fit: contain;
  border-image: none;
 


  
}

.linkin {
  width :50px;
  height: 60px;
  margin-top: 20px;
  filter: drop-shadow(2px 1px 2px  #000000);
}
  
.linkin:hover{
    animation: rebote 0.5s;
    animation-iteration-count: 1;
  }
  
  @keyframes rebote {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }





  
 

  @media screen and (max-width: 858px) {
    .LandingCont {
      flex-direction: column;
      height: 100vh; /* Set the height of the div to full viewport height */
  width: 100%;
     
     
    }
  
   .division{
    width: 100%;
    order: 1;
  
   }
    
   .division2{
    box-shadow: 0px 0px 0px;
   }
  

  
    .info {
      width:80%;
   
      margin-top: 2rem; /* Añadimos un margen superior para separar los elementos */
      order: 2; /* Reordenamos el orden de los elementos */
      text-align: center;
       
    }
  
    .imgAsh img {
      width: 100%;
    }
  }